{% extends 'app/base_loginpage.html' %}

<!--Corpo do perfil-->
{% block content %}

    <div class="container flex-start" ng-controller="myCtrlHomeApp" style="font-family: 'Anton', sans-serif; margin-top: 70px; margin-left: -200px;">
        <h1 style="color: #fc944c; font-size: 50px;">LOGIN</h1>
        <button class="btn" style="background-color:#fc944c; color: white; font-size: 30px; width: 370px;" ng-click="loginCallBack()">Faça login com a sua conta Spotify</button>
    
    </div>     
    
    <div class="container" style="display: grid; align-items: center; grid-template-columns: 1fr 1fr 1fr; column-gap: 5px;">
        <div class="text">
            <h1 style="font-family: 'Anton', sans-serif; font-size: 100px; color: #fc944c; width: 1000px;">ENCONTRA A TUA PRÓXIMA MÚSICA PREFERIDA!</h1>
        </div>   
        <div class="image">
            <img src="/static/MADS.jpg" width="500" height="500">
        </div>
    </div>

    <script>
        app.controller('myCtrlHomeApp', function($scope, $interval, $http){
            //Javascript

            //Inicialização das cookies

            //id de serviço
            $scope.client_id = '82317a0473474f8d944323a93d488939';

            //Documentação do Spotify
            $scope.loginCallBack = async function(){

                //Cookies inicializadas, para acesso às apis
                window.localStorage.setItem('access_token', '');
                window.localStorage.setItem('refresh_token', '');
                window.localStorage.setItem('client_id', '82317a0473474f8d944323a93d488939');
                window.localStorage.setItem('redirectUri', 'http://127.0.0.1:8000/perfil');

                const generateRandomString = (length) => {
                    const possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                    const values = crypto.getRandomValues(new Uint8Array(length));
                    return values.reduce((acc, x) => acc + possible[x % possible.length], "");
                }

                //Encriptação do CodeVerifier, para autenticação PKCE
                async function generateCodeChallenge(codeVerifier) {
                    const hashBuffer = await crypto.subtle.digest('SHA-256', new TextEncoder().encode(codeVerifier));
                    const base64urlChallenge = btoa(String.fromCharCode(...new Uint8Array(hashBuffer)))
                        .replace(/=/g, '') // Remove padding for base64url encoding
                        .replace(/\+/g, '-') // Replace '+' with '-' for url safety
                        .replace(/\//g, '_'); // Replace '/' with '_' for url safety
                    return base64urlChallenge;
                }

                const codeVerifier  = generateRandomString(64);
                let codeChallenge = await generateCodeChallenge(codeVerifier);

                const clientId = $scope.client_id;
                const redirectUri = 'http://127.0.0.1:8000/perfil';
                const scope = 'user-read-private user-read-email user-follow-read playlist-modify-public';
                const authUrl = new URL("https://accounts.spotify.com/authorize");

                // Guardar nas cookies o code verifier e client id
                window.localStorage.setItem('code_verifier', codeVerifier);
                window.localStorage.setItem('client_id', clientId);

                //Autenticação na pagina do Spotify
                const params =  {
                    response_type: 'code',
                    client_id: clientId,
                    scope: scope,
                    code_challenge_method: 'S256',
                    code_challenge: codeChallenge,
                    redirect_uri: redirectUri,
                }     
                    
                authUrl.search = new URLSearchParams(params).toString();
                window.location.href = authUrl.toString();          
            }
        });
    </script>

{% endblock %}