{% extends 'app/base_page.html' %}

<!--Corpo do perfil-->
{% block content %}

    <div class="container" ng-controller="myCtrlPerfil">

    </div>      

    <script>
        app.controller('myCtrlPerfil', function($scope, $interval, $http, $location){
            //Javascript

            //No url, depois de fazer login, está o code que tem de ser usado no parametro do get
            $scope.code = window.location.search;
            $scope.code = $scope.code.split('=')[1];
            console.log($scope.code);
            
        
        });
    </script>





{% endblock %}