{% extends 'app/base_page.html' %}
{% load static %}

<!--Corpo do perfil-->
{% block navbar %}
    <div ng-controller="myCtrlPerfil">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #545454;">
            <div class="container-fluid">
                <img src="{% static 'MADS.jpg' %}" width="40" height="40" alt="MADS Logo">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" style="cursor:pointer" href="{% url 'app_profile' %}">Perfil</a>
                    </div>
                </div>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <span class="nav-link" style="cursor:pointer">Utilizador: {% verbatim %} {{userData.display_name}}  {% endverbatim %}  </span>                   
                    </li>
                    <li class="nav-item">
                        <span class="nav-link logout-button" ng-click="logout()">LOGOUT</span>
                    </li>
                </ul>
            </div>
        </nav>    
{% endblock %}

{% block script %}
    <script>
        app.controller('myCtrlPerfil', function($scope, $interval, $http, $location){
            //Inicialização de variaveis
            $scope.client_id = window.localStorage.getItem('client_id');
            $scope.code = window.location.search;
            $scope.code = $scope.code.split('=')[1];            
            window.localStorage.setItem('code', $scope.code);            
            $scope.accessToken = '';    // O $scope.accessToken é apanhado na função getToken. Tens de usar na autorização, como está no $scope.getUserData()
            
            $scope.userData = {};            
            $scope.userArtists = {};
            $scope.userTracks = {};

            $scope.logout = function(){
                window.location.href = "/";
            }

            $scope.getUserData = function(){
                $http({
                    method: 'GET',
                    url: 'https://api.spotify.com/v1/me',
                    headers: {Authorization: 'Bearer ' + $scope.accessToken},
                }).then(function successCallback(response) {
                    // Gere resposta, em caso de sucesso
                    $scope.userData = response.data; // Access the response data here
                    console.log($scope.userData);
                    
                }, function errorCallback(error) {
                    // Gere resposta, em caso de falha
                    console.error('Error fetching data:', error);
                });
            }

            $scope.getUserArtist = function(){
                $http({
                    method: 'GET',
                    url: 'https://api.spotify.com/v1/me/following',
                    headers: {Authorization: 'Bearer ' + $scope.accessToken},
                    params: {
                        type: 'artist',
                        limit: 10,
                    }
                }).then(function successCallback(response) {                    
                    $scope.userArtist = response.data; 
                    console.log($scope.userArtist);                                                                           
                }, function errorCallback(error) {                    
                    console.error('Error fetching data:', error);
                });
            }

            $scope.getPlayList = function(){
                $http({
                    method: 'GET',
                    url: 'https://api.spotify.com/v1/browse/featured-playlists',
                    headers: {Authorization: 'Bearer ' + $scope.accessToken},
                }).then(function successCallback(response) {
                    // Gere resposta, em caso de sucesso
                    $scope.playList = response.data; // Access the response data here
                    console.log($scope.userData);
                    
                }, function errorCallback(error) {
                    // Gere resposta, em caso de falha
                    console.error('Error fetching data:', error);
                });
            }        

            $scope.getUserTracks = function(){
                $http({
                    method: 'GET',
                    url: 'https://api.spotify.com/v1/me/tracks',
                    headers: {Authorization: 'Bearer ' + $scope.accessToken},
                    
                }).then(function successCallback(response) {                    
                    $scope.userTracks = response.data;                     
                    
                }, function errorCallback(error) {                    
                    console.error('Error fetching data:', error);
                });
            }            
            
            function displayRecommendations(tracks) {
                const recommendationsDiv = document.getElementById('recommendations');
                recommendationsDiv.innerHTML = '';

                tracks.forEach(track => {
                    const trackElement = document.createElement('div');
                    trackElement.innerHTML = `
                        <p><strong>Track:</strong> ${track.name}</p>
                        <p><strong>Artist:</strong> ${track.artists.map(artist => artist.name).join(', ')}</p>
                        <p><strong>Album:</strong> ${track.album.name}</p>
                        <a href="${track.external_urls.spotify}" target="_blank">Listen on Spotify</a>
                        <hr>
                    `;
                    recommendationsDiv.appendChild(trackElement);
                });
            }

            $scope.getRespChat = function(){
                $http({
                    method: 'GET',
                    url: 'https://api.spotify.com/v1/search',
                    headers: {Authorization: 'Bearer ' + $scope.accessToken},
                     params: { type: 'artist' },
                }).then(function successCallback(response) {
                    // Gere resposta, em caso de sucesso
                    $scope.chatbot = response.data; // Access the response data here
                    console.log($scope.chatbot);

                }, function errorCallback(error) {
                    // Gere resposta, em caso de falha
                    console.error('Error fetching data:', error);
                });
            }      

            $scope.getToken = async function() {
                const clientId = window.localStorage.getItem('client_id');
                const redirectUri = window.localStorage.getItem('redirectUri');
                
                //Primeira Vez que acede-se à pagina
                if (window.localStorage.getItem('refresh_token') == ''){

                    // stored in the previous step
                    let codeVerifier = window.localStorage.getItem('code_verifier');             

                    const payload = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams({
                            client_id: clientId,
                            grant_type: 'authorization_code',
                            code: $scope.code,
                            redirect_uri: redirectUri,
                            code_verifier: codeVerifier,
                        }),
                    }

                    const body = await fetch('https://accounts.spotify.com/api/token', payload);
                    const response = await body.json();
                    window.localStorage.setItem('access_token', response.access_token);
                    window.localStorage.setItem('refresh_token', response.refresh_token);
                    $scope.accessToken = response.access_token;
                }
                //Refresh
                else{

                    // refresh token that has been previously stored
                    const refreshToken = window.localStorage.getItem('refresh_token');
                    const url = "https://accounts.spotify.com/api/token";

                    const payload = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: new URLSearchParams({
                            grant_type: 'refresh_token',
                            refresh_token: refreshToken,
                            client_id: clientId
                        }),
                    }

                    const body = await fetch(url, payload);
                    const response = await body.json();

                    window.localStorage.setItem('access_token', response.access_token);
                    window.localStorage.setItem('refresh_token', response.refresh_token);
                    $scope.accessToken = response.access_token;                
                }                
            }

            $scope.getToken().then(function(){
                $scope.getUserData();                
                $scope.getUserArtist();
                $scope.getPlayList(); 
                $scope.getUserTracks();
                $scope.getRespChat();
            });

            $scope.artistBtn = function(artistId) {
                var url = '/artist/' + artistId + '/';
                window.location.href = url;    
            };

            $scope.trackBtn = function(trackId) {
                var url = '/track/' + trackId + '/';
                window.location.href = url;    
            };

            $scope.playListBtn = function(url) {              
                window.location.href = url;    
            };
        });
    </script>

{% endblock %}

{% block html %}
    <div class="container">
        <div class="column1">
            <h1>PERFIL</h1>
            <section class="section">
                <h2>LISTA DE ARTISTAS</h2>
                <ul class="list">
                    <li>
                        {% verbatim %} {{userArtist.artists.items[0].name}} {% endverbatim %}
                        <button ng-click="artistBtn(userArtist.artists.items[0].id)">Info</button>
                    </li>
                    <li>
                        {% verbatim %} {{userArtist.artists.items[1].name}} {% endverbatim %}
                        <button ng-click="artistBtn(userArtist.artists.items[1].id)">Info</button>
                    </li>
                    <li>
                        {% verbatim %} {{userArtist.artists.items[2].name}} {% endverbatim %}
                        <button ng-click="artistBtn(userArtist.artists.items[2].id)">Info</button>
                    </li>
                    <li>
                        {% verbatim %} {{userArtist.artists.items[3].name}} {% endverbatim %}
                        <button ng-click="artistBtn(userArtist.artists.items[3].id)">Info</button>
                    </li>
                </ul>
                              
            </section>

            <section class="section">
                <h2>PLAYLISTS</h2>
                <ul class="list">
                    <li>
                        {% verbatim %} {{playList.playlists.items[0].name}} {% endverbatim %}
                        <button ng-click="playListBtn('{% url 'infopageplay0' %}')">Info</button>
                    </li>

                    <li>
                        {% verbatim %} {{playList.playlists.items[1].name}} {% endverbatim %}
                        <button ng-click="playListBtn('{% url 'infopageplay0' %}')">Info</button>
                    </li>
                    <li>
                        {% verbatim %} {{playList.playlists.items[2].name}} {% endverbatim %}
                        <button ng-click="playListBtn('{% url 'infopageplay2' %}')">Info</button>
                    </li>
                    <li>
                        {% verbatim %} {{playList.playlists.items[3].name}} {% endverbatim %}
                        <button ng-click="playListBtn('{% url 'infopageplay3' %}')">Info</button>
                    </li>
                </ul>
            </section>

            <section class="section">
                <h2>MUSICAS</h2>
                <ul class="list">
                    <li>
                        {% verbatim %} {{userTracks.items[0].track.name}} {% endverbatim %}
                        <button ng-click="trackBtn(userTracks.items[0].track.id)">Info</button>
                    </li>
                    <li>
                        {% verbatim %} {{userTracks.items[1].track.name}} {% endverbatim %}
                        <button ng-click="trackBtn(userTracks.items[1].track.id)">Info</button>
                    </li>
                    <li>
                        {% verbatim %} {{userTracks.items[2].track.name}} {% endverbatim %}
                        <button ng-click="trackBtn(userTracks.items[2].track.id)">Info</button>
                    </li>
                    <li>
                        {% verbatim %} {{userTracks.items[3].track.name}} {% endverbatim %}
                        <button ng-click="trackBtn(userTracks.items[3].track.id)">Info</button>
                    </li>
                </ul>
            </section>
        </div>

        <div class="column2">
            <div class="random-music">
                <img src="{% static 'MADS.jpg' %}" alt="MADS" style="margin-bottom: 20px; width:400px; height:400px;">
                <a href="{% url 'recommendation' %}">
                    <button style="width: 250px;"class="random-music-btn">MÚSICA RECOMENDADA</button>
                </a>
            </div>
        </div>
    </div>
</div>

<button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
</button>
<div class="chatbot">
    <header>
        <h2>Chatbot</h2>
        <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
        <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>Hi there 👋<br>How can I help you today?</p>
        </li>
    </ul>
    <div class="chat-input">
        <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
</div>
{% endblock %}